main {
    display: flex;
    justify-content: center;
    background-color: #231c1c;
}

section:nth-child(1) {
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    border-bottom: 2px solid white;
    width: 90%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    color: white;
    font-size: 1.5rem;
}

form {
    margin-top: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.campo,
.mensagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.campo label,
.mensagem label {
    color: white;
    font-size: 1.3rem;
}

.campo input {
    font-size: 1.2rem;
    margin-top: 5px;
    width: 100%;
    padding: 15px 0px 15px 15px;
    border-radius: 10px;
}

.mensagem textarea {
    font-size: 1.2rem;
    padding: 5px 5px 5px 10px;
    width: 100%;
    height: 5.5rem;
    border-radius: 10px;
    resize: none;
}

.buttons {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons > * {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40%;
    height: 2.6rem;
    font-size: 1.2rem;
    border-radius: 5px;
    color: white;
}

.buttons a {
    background-color: #c22a2e;
}

.buttons button {
    background-color: #016122;
}

@media (min-width: 800px) {
    main {
        justify-content: space-between;
    }

    section {
        width: 45vw;
        margin: 0px 15px;
    }

    section:nth-child(1) {
        width: 45vw;
    }

    form {
        width: 70%;
    }

    section:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section:nth-child(2) img {
        width: 100%;
    }

    .header {
        border: none;
        justify-content: flex-start;
        width: 100%;
    }

    .header h1 {
        font-size: 2.1rem;
    }

    .info {
        margin-left: 40px;
    }
}
