main {
    display: flex;
    justify-content: center;
    background-color: #231c1c;
}

section:nth-child(1) {
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    border-bottom: 2px solid white;
    width: 90%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    color: white;
    font-size: 1.5rem;
    font-weight: 200;
}

form {
    margin-top: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.campo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.campo label {
    color: white;
    font: 1.2rem;
    margin-left: 5px;
}

.campo input {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
}

.endereco {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.bairro,
.numero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bairro input {
    width: 100%;
}

.numero input {
    width: 100%;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botoes a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 45%;
    height: 40px;
    color: white;
    border-radius: 5px;
    background-color: #c22a2e;
}

.botoes button {
    font-size: 1.2rem;
    width: 45%;
    height: 40px;
    color: white;
    border-radius: 5px;
    background-color: #016122;
}

@media (min-width: 800px) {
    main {
        justify-content: space-around;
    }

    section:nth-child(1),
    section:nth-child(2) {
        width: 45vw;
    }

    section:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section:nth-child(2) img {
        width: 90%;
    }

    .header {
        border: none;
        justify-content: flex-start;
        width: 100%;
    }

    .header h1 {
        font-size: 2rem;
    }
}
